server:
  port: 8081
spring:
  application:
    name: hmdp
  profiles:
    active: dev
  datasource:
    driver-class-name: ${dev.datasource.driver-class-name}
    url: jdbc:mysql://${dev.datasource.host}:${dev.datasource.port}/${dev.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: ${dev.datasource.username}
    password: ${dev.datasource.password}
  redis:
    host: ${dev.redis.host}
    port: ${dev.redis.port}
    password: ${dev.redis.password}
    database: ${dev.redis.database}
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段
mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包
logging:
  level:
    com.hmdp: debug